.dropdown {
  display: flex;
  flex-wrap: wrap;
}


.dropdown-icon {
  font-size: 30px;
  transition: transform 0.3s ease, background 0.3s ease;
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: linear-gradient(135deg, rgba(191, 56, 56, 0.7), rgba(163, 121, 121, 0.6));
  padding: 10px 15px; 
  border-radius: 50%; 
  cursor: pointer;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}  

  details[open] .dropdown-icon {
    transform: rotate(180deg);
  }
  

  details:not([open]) .dropdown-content {
    display: none;
  }
  

  details[open] .dropdown-content {
    display: block;
  }
  
 span {
    margin-top: 20px;
    font-size: 300px;
   }

   .book-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    overflow: hidden;
    margin: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd; 
}


.book-card img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;  
    margin: auto;
}

.book-card .text-content {
    padding: 20px;
    flex-grow: 1;
}

.book-card .book-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.genre {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.book-card .description {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
}

.book-card .genre-badge {
    display: inline-block;
    background-color: #060433;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

summary {
  margin-top: 40px;
  margin-left: 40px;
}

   