@import "mixins";

.container {
    display: flex;   
    flex-wrap: wrap;           
    justify-content: center;    
    gap: 20px;             
    padding: 10px;               
    box-sizing: border-box;       
}

.card {
       @include card(); 
}

.covers {
    @include imagecard();
}

.releases {
    font-family: 'Noto Serif Georgian';
    font-size: 36px;
    font-weight: bold;
    color: #333333; 
    text-align: center;
    letter-spacing: 1px; 
    margin: 30px 0;
}