@import "mixins";

.container {
    display: flex;   
    flex-wrap: wrap;           
    justify-content: center;    
    gap: 20px;             
    padding: 10px;               
    box-sizing: border-box;       
}

.card {
       @include card(); 
}

.covers {
    @include imagecard();
}

.releases {
    font-family: 'Noto Serif Georgian';
    font-size: 36px;
    font-weight: bold;
    color: #333333; 
    text-align: center;
    letter-spacing: 1px; 
    margin: 30px 0;
    margin-top: 60px;
}

.platform {
    margin: 40px;
    width: 30%;
}

.display{
    display: flex;
    justify-content: space-around;
}

.tok{
    width: auto;
    height: 200px;
    margin-left: 30px;
}


@media only screen and (max-width: 700px) {
   .display{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .platform{
    width: 100%;
    margin-left: 70px;
   }
   .tok{
    width: 300px;
    height: auto;
    margin-top: 30px;
   }
}